.about-container {
    display: flex;
    background-color: rgb(33, 37, 41);
    padding-top: 2rem;
    width: 100%;
}

.about-container-left {
 width: 50%;
 background-color: rgb(33, 37, 41);
 text-align: center;
 color:white
}

.about-container-right {
    width: 50%;
    background-color: rgb(33, 37, 41);
}

.about-image-container {
    width: 50%;
    margin: 0 auto;
}

.about-image-container img {
    width: 100%;
}