.contact-container {
    width: 100%;
    display: flex;
}

.contact-container-left {
    width: 50%;
    padding: 1.5rem;
    background-color: rgb(33, 37, 41);
    color: white;2
}

.contact-container-right {
    width: 50%;
    padding: 1.5rem;
    background-color: rgb(33, 37, 41);
}

